{{> head}}
{{> navbar}}

<div class="container text-center pt-5">
    <form action="" method="POST">
        <div class="row text-center m-3">
            <div class="col">
                <div class="p-2">
                    <input type="email" name="email" placeholder="Input your email">
                </div>
                <div class="p-2">
                    <input type="password" name="password" placeholder="Input your password">
                </div>
            </div>
        </div>
        <div class="row text-center m-3">
            <div class="col">
                <button type="submit" class="mt-4">Login</button>
            </div>
        </div>
    </form>
</div>

{{> footer}}