<body>
    <div class="wrapper">
      <div class="sidebar" data-color="purple" data-background-color="white">
        <div class="logo">
          <a href="" class="simple-text logo-mini">

          </a>
          <a href="" class="simple-text logo-normal">
            Ticket App
          </a>
        </div>
        <div class="sidebar-wrapper">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="/admin/dashboard">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li class="nav-item">
              <a href="/admin/genre/list" class="nav-link">
                <i class="material-icons">label</i>
                <p>Genre</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/movie/list" class="nav-link">
                <i class="material-icons">theaters</i>
                <p>Movie</p>
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li class="nav-item">
              <a href="/admin/showtime/list" class="nav-link">
                <i class="material-icons">event_note</i>
                <p>Show Time</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/booking/list" class="nav-link">
                <i class="material-icons">local_activity</i>
                <p>Booking</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/payment/list" class="nav-link">
                <i class="material-icons">payments</i>
                <p>Payment</p>
              </a>
            </li>
          </ul>
        </div>
      </div>