<div class="container">
  <div class="row text-center m-3">
    <div class="col">
      <img src="/static/image/access_denied.jpg" alt="" style="max-width: 400px;" />
    </div>
  </div>
  <div class="row text-center m-3">
    <div class="col">
      <h2>You cannot access this page. Please login!</h2>
    </div>
  </div>
</div>